
body font {
  size: 16px;
}

h1 {
  font-size: 3rem;
}

.vertical {
  display: flex;
  flex-direction: column;
}

#mainC {
  display: grid;

  grid-template-columns: minmax(1rem, 1fr) minmax(0.5rem, 1.5rem) 1.5fr .25fr 4fr .25fr;
  grid-template-rows: 1rem 5.25rem 3.125rem 3.125rem 1fr 1fr 3.125rem;
  grid-column-gap: 0rem;
  height: 800px;
}

#equivM {
  display: none;
}

#c {
  grid-area: 2/3/3/4;
  text-align: right;
  margin-right: 0.5rem;
}

#cA {
  grid-area: 2/5/3/6;
  margin-left: 0.5rem;
}

#by {
  grid-area: 3/5/4/6;
  margin-left: 0.5rem;
  display:grid;
}
#equiv {grid-area:2/4/3/5;}
#black {
  grid-area: 4/2/7/3;
  background-color: black;
}

#footer {
  grid-area: 7/1/8/2;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 0.5rem;
}

#footerSmall {
  display: none;
  grid-area: 6/1/8/2;
  text-align: right;
  font-weight: bold;
}

img {
  width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
}

.g {
  display: grid;
  grid-template: 1fr/1fr;
  border: 2px solid black;
}

.art:hover .img {
  opacity: 0.5;
}
.art:hover .imgP {
  display: block;
}

.full {
  height:100%;
}
.img {
  grid-area: 1/1/2/2;
}
.imgP {
  grid-area: 1/1/2/2;
  z-index: 10;
  text-align: center;
  margin-top: 2rem;
  display: none;
  font-size: 2rem;
}

#artC {grid-area:5/3/7/6;
display: grid;
margin: 0.5rem;

grid-template-columns: repeat(4,1fr);
grid-gap: 1rem;}

#largeImage {
  display:none;
  position:fixed;
  z-index:16;
  margin:auto;

  width:100%;
  height:100%;
  background-color:black;
  overflow: auto;
}

@media only screen and (max-width:1080px){
  #artC {grid-template-columns: repeat(auto-fill, minmax(300px,1fr))}
  #mainC {grid-template-columns: minmax(.75rem, 1.25rem) minmax(0.15rem, .5rem) 1.5fr .25fr 4fr .25fr;
        grid-template-rows: 1rem 3.25rem 3.125rem 2.125rem 1fr 1fr 3.125rem ;

      }

  #footerSmall {display:grid;
              writing-mode:vertical-lr;
              align-items: center;}
  #footer {display:none;}
  #by{align-items: flex-end;}

}
@media only screen and (max-width:660px){
  #mainC{grid-template-columns: 1rem minmax(.75rem, 1.25rem) minmax(0.15rem, .5rem) 1.5fr .25fr 4fr .25fr;}

  h1 {font-size:2rem;}
}
@media only screen and (max-width:480px){
  h1 {font-size:1.5rem;}
  #by{align-items: flex-start;}
  #mainC {margin-left:0.25rem;}
}
@media only screen and (max-width:400px){
  h1 {font-size:1.25rem;}
  p {font-size:1rem;}
}
